<h2 class="subtitle">Set up One Time Password</h2>
<div class="has-text-cerntered">
  <img src="/assets/qr-example.svg" alt="qr-example" style="width: 250px; height: 250px;">
</div>
<form>
  <div class="field">
    <label class="label">Please enter two continous groups of 6-digit code</label>
    <div class="control">
      <input class="input has-text-centered" type="number">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input has-text-centered" type="number">
    </div>
  </div>
  <div class="field">
    <div class="control has-text-centered">
      <button class="button is-link">Submit</button>
      <button class="button">Cancel</button>
    </div>
  </div>
</form>