<h2 class="subtitle">Login here</h2>
<form novalidate (ngSubmit)="onLoginFormSubmit()">
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input has-text-centered" type="text" [(ngModel)]="loginModel.username" name="username">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input has-text-centered" type="password" [(ngModel)]="loginModel.password" name="password">
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control has-text-centered">
      <button class="button is-link" style="padding-left: 30px; padding-right: 30px;">
        Submit
      </button>
    </div>
  </div>
</form>