<h2 class="subtitle">Two Factor Authentication</h2>
<form novalidate (ngSubmit)="onLoginOtpFormSubmit()">
  <div class="field">
    <label class="label">Enter 6-digit code</label>
    <div class="control">
      <input class="input has-text-centered" type="number" [(ngModel)]="otp" name="otp">
    </div>
  </div>
  <div class="field">
    <div class="control has-text-centered">
      <button class="button is-link">Submit</button>
      <button class="button">Cancel</button>
    </div>
  </div>
</form>
