<h2 class="subtitle">Two Factor Authentication Recovery</h2>
<form>
  <div class="field">
    <label class="label">Enter 24-digit recovery code</label>
    <div class="control">
      <input class="input has-text-centered" type="number">
    </div>
  </div>
  <div class="field">
    <div class="control has-text-centered">
      <button class="button is-link">Submit</button>
      <button class="button">Cancel</button>
    </div>
  </div>
</form>
