<div class="container">
  <div class="columns">
    <div class="column has-text-centered">
      <h1 class="title" style="margin: 3rem 0 2rem;">Two Factor Authentication Demo</h1>
      <div class="columns">
        <div class="column is-3">
          <aside class="menu has-text-justified">
            <p class="menu-label">
              Login
            </p>
            <ul class="menu-list">
              <li><a routerLink="/login">Login</a></li>
              <li><a routerLink="/login/otp">One Time Password</a></li>
              <li><a routerLink="/login/recovery">Recovery</a></li>
            </ul>
            <p class="menu-label">
              User Settings
            </p>
            <ul class="menu-list">
              <li><a routerLink="/user">User Home</a></li>
              <li><a routerLink="/user/otp">Set up One Time Password</a></li>
            </ul>
          </aside>
        </div>
        <div class="column is-6">
          <div class="box">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

